@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --black: #000000;
    --white: rgb(240, 240, 240);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-screen .bar {
    position: relative;
    width: 400px;
    height: 20px;
    border: 2px solid rgb(29, 42, 151);
    padding: 8px;
}

.bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    height: 100%;
    z-index: 1;
}

.loading-screen .bar span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    font-weight: 700;
    color: rgb(187, 44, 44);
}

.text-renderer span {
    padding: 2px 4px;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 8px;
    color: #000;
    font-weight: 700;
}