@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --black: #000000;
    --white: rgb(240, 240, 240);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
    overflow: hidden;
}

/* wrong screen size */
.screen-size {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
    z-index: 10;
}

.screen-size span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
}

/* loading screen*/

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-screen .bar {
    position: relative;
    width: 400px;
    height: 20px;
    border: 2px solid rgb(29, 42, 151);
    padding: 8px;
}

.bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    height: 100%;
    z-index: 1;
}

.loading-screen .bar span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    font-weight: 700;
    color: rgb(187, 44, 44);
}

/* start overlay */

.start-screen,
.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.start-screen p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    text-align: center;
    letter-spacing: 3px;
    color: var(--white);
}

.start-screen button,
.game-over-screen button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    padding: 20px 80px;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8px;
    transition: scale 100ms;
}

.start-screen button:hover,
.game-over-screen button:hover {
    background-color: rgb(185, 185, 185);
    transform-origin: 0 0;
    scale: 1.025;
    cursor: pointer;
    transition: scale 200ms;
}

/* CSS2DRenderer */

.text-renderer {
    z-index: 2;
}

.text-renderer span {
    padding: 2px 4px;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 8px;
    color: #000;
    font-weight: 700;
}

/* GUI */
.gui {
    position: absolute;
    width: 800px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px;
}

.gui .health {
    height: 32px;
    background-color: rgb(255, 55, 55);
    border: 2px solid rgb(150, 0, 0);
    float: left;
}

.gui .health .bar {
    width: 100%;
    height: 32px;
    background-color: rgb(105, 180, 105);
}

.gui .score {
    float: right;
}

.gui .score span{
    color: var(--white);
    font-size: 1.5em;
}

/* Game over */

.game-over-screen button {
    transform: translate(-50%, 60%);
    transform-origin: 0 60% ;
}

.game-over-screen button:hover {
    transform-origin: 0 60%;
}

.game-over-screen span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    color: rgb(182, 0, 0);
}